<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="charset=utf-8">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/gollum.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/editor.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/dialog.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/print.css" media="print">
  {{#css}}<link rel="stylesheet" type="text/css" href="{{custom_path}}/custom.css" media="all">{{/css}}
  {{#noindex}}<meta name="robots" content="noindex, nofollow" />{{/noindex}}

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/ie7.css" media="all">
  <![endif]-->

  <script>
      var baseUrl = '{{base_url}}';
      var uploadDest   = '{{upload_dest}}';
      {{#page}}
      var pageFullPath = '{{url_path_display}}';
      {{/page}}
  </script>
  <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>

  <script type="text/javascript" src="{{base_url}}/javascript/mousetrap.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.dialog.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/gollum.placeholder.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/editor/gollum.editor.js"></script>
  {{#use_identicon}}
  <script type="text/javascript" src="{{base_url}}/javascript/identicon_canvas.js"></script>
  <script type="text/javascript" src="{{base_url}}/javascript/editormd.js"></script>

  {{/use_identicon}}
  
  
  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
  
<script type="text/javascript" src="{{base_url}}/javascript/editormd.js"></script>
<script type="text/javascript" src="{{base_url}}/javascript/marked.min.js"></script>
<script type="text/javascript" src="{{base_url}}/javascript/prettify.min.js"></script>
<script type="text/javascript" src="{{base_url}}/javascript/raphael.min.js"></script>
<script type="text/javascript" src="{{base_url}}/javascript/underscore.min.js"></script>

<script type="text/javascript" src="{{base_url}}/javascript/sequence-diagram.min.js"></script>
<script type="text/javascript" src="{{base_url}}/javascript/flowchart.min.js"></script>
<script type="text/javascript" src="{{base_url}}/javascript/jquery.flowchart.min.js"></script>
 

<script type="text/javascript">
 $(function() {       
                
                var testEditor = editormd.markdownToHTML("wiki-content-display", {
                    
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                    tocm            : true,
                    path : '.javascript/lib/',
                    codeFold : true

                });

  });

</script>

</html>
