<!DOCTYPE html>
<html>
<head>
<title>Live Preview</title>
<link rel='stylesheet' type='text/css' href='../css/template.css' />
<link rel='stylesheet' type='text/css' href='css/custom.css' />
</head>

<body>

<div id="wiki-content-display">
<textarea id="append-test" style="display:none;">

{{content}}
</textarea>
</div>
<!-- tool panel from notepage.es. save & savecomment icons from Retina Display Icon Set. -->

</body>
</html>
