<script>
Mousetrap.bind(['e'], function( e ) {
  e.preventDefault();
  window.location = "/edit" + window.location.pathname;
  return false;
});
</script>
<div id="wiki-wrapper" class="page">
<div id="head">
  <h1>{{page_header}}</h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/"
       class="action-home-page">Home</a></li>
    <li class="minibutton"><a href="{{base_url}}/pages"
      class="action-all-pages">All</a></li>
    <li class="minibutton"><a href="{{base_url}}/fileview"
    class="action-fileview">Files</a></li>
    {{#allow_editing}}
      <li class="minibutton jaws">
        <a href="#" id="minibutton-new-page">New</a></li>
    {{/allow_editing}}
    {{#allow_editing}}
      {{#allow_uploads}}
      <li class="minibutton jaws">
        <a href="#" id="minibutton-upload-page">Upload</a></li>
      {{/allow_uploads}}
    {{/allow_editing}}
    {{#allow_editing}}
      {{#editable}}
        <li class="minibutton jaws">
          <a href="#" id="minibutton-rename-page">Rename</a></li>
      {{/editable}}
    {{/allow_editing}}
    {{#allow_editing}}
      {{#editable}}
        <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}"
           class="action-edit-page">Edit</a></li>
      {{/editable}}
    {{/allow_editing}}
    {{#page_exists}}
    <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
       class="action-page-history">History</a></li>
    <li class="minibutton"><a href="{{base_url}}/latest_changes"
       class="action-page-history">Latest Changes</a></li>
    {{/page_exists}}
  </ul>
</div>
<div id="wiki-content-display">

<textarea id="append-test" data-markup-lang="{{format}}" style="display:none;">

{{{content}}}
</textarea>

</div>

<form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>
